@import url(//db.onlinewebfonts.com/c/55c4f556836775174bfac94178a3fe82?family=ProximaNW01-Reg);

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
hr,
figure,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

html {
  font-family: "ProximaNW01-Reg", sans-serif;
  overflow-x: hidden;
}
