@import "../scss/mixins.scss";

.back-to-top {
  display: none;
  position: fixed;
  bottom: 170px;
  width: 44px;
  height: 44px;
  right: 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s;

  @include laptop {
    display: block;
  }
}

.svg-back-to-top {
  fill: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  stroke: #fff;

  &__path-one {
    stroke-width: 1;
  }

  &__path-two {
    stroke-width: 1.5;
  }
}
